.main-wrapper{
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: block;
  margin-left: 5%;
  margin-right: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quiz-container{
    background-color: rgb(255, 255, 255);
    box-shadow: gray 2px 2px 2px;
}
.quiz-container > div{
    margin: 20px;
}
.each-answer{
    margin: 10px 0%;
}

.active{
    background-color: white;
    color : blue;
    border: blue solid 1px;
}
.action-btns button:hover{
    background-color: white;
    color : blue;
    border: blue solid 1px;
}
.result-wrapper{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result-details{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}
.result-details > div{
    margin: 20px;
}

#story { text-indent: 40px; }
#question {
    font-weight: bold;
} 
